@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*:focus,
*:hover {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
button{border: 0; cursor: pointer;}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #555555;
}

p {
    color: #555555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.row-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #5cec80;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 70px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories {
    margin-top: 70px;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

/* .col-4 img {
    width: 100%;
} */
.img-wrap{
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.img-wrap img{
    width: 100%;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555555;
}

.title::after {
    content: '';
    background: #5cec80;
    width: 80px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555555;
    font-weight: 600;
}
h4.product-name{
    height: 30px;
    font-size: 15px;
}

.col-4 p {
    font-size: 14px;
}
.rating p{
    color: #5cec80;
}
.rating .fa {
    color: #5cec80;
}

.col-4:hover {
    transform: translateY(-5px);
}

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.wishlist-icon{
    color: red;
    margin-left: 10px;
    cursor: pointer;
}
.btn-cart {
    flex: 1;
    text-align: right;
}

.btn-cart button {
    background-color: #4dc76b;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.btn-cart button:hover {
    background-color: #334d3f;
}

/* --------offer-------- */

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555555;
}


/* -------testimonial-------- */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: transform .5s;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #5cec80;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    font-size: 16px;
    color: #555555;
}


/* ---------brands------ */

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


/* --------footer-------- */

.footer {
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* ------products page--------- */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #5cec80;
    padding: 5px;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #5cec80;
    margin-left: 10px;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.page-btn span:hover {
    background: #5cec80;
    color: #ffffff;
}


/* ------------single product detail --------- */

.single-product {
    margin-top: 80px;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    font-size: 22px;
    margin: 20px 0;
    font-weight: bold;
}

.single-product select {
    display: block;
    margin-top: 20px;
    padding: 10px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #5cec80;
}

.single-product .col-2 h1 {
    font-size: 45px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
}


/* hi hi cho nay a viet ne */

.detail .content .desc h2 {
    padding-left: 10px;
}

.detail .content .form_review {
    display: flex;
    align-items: center;
}

.detail .content .review .f_review {
    width: 700px;
    margin-left: 30px;
    resize: none;
    font-size: 18px;
    padding: 4px;
}

.detail .content .review .btn_review {
    display: inline-block;
    background-color: #5cec80;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition: 0.5s;
    border: 0;
    font-size: 16px;
    margin-left: 40px;
}

.detail .content .review .btn_review:hover {
    background-color: #563434;
}


/* ----------cart items------------ */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align-last: left;
    background: #5cec80;
    color: #ffffff;
    padding: 5px;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1px solid #5cec80;
}

td a {
    color: #5cec80;
    font-size: 12px;
}

td img {
    width: 80px;
    /* height: 80px; */
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #5cec80;
    width: 100%;
    max-width: 400px;
}

td:last-child,
th:last-child {
    text-align: right;
}

.total-price .btn {
    margin: 15px 0;
    border-radius: 0;
}


/* ---------account page--------- */

.account-page {
    background: radial-gradient(#ffffff, #ffd6d6);
    padding: 50px 0;
}

.form-container {
    background: rgb(155, 207, 135);
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 120px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #cccccc;
}

form .btn {
    width: 100%;
    margin: 10px 0;
    cursor: 0;
    border: none;
}

form a {
    font-size: 12px;
}

#loginForm {
    left: -300px;
    /* display: none; */
}

#regForm {
    left: 0;

}

#indicator {
    width: 120px;
    height: 3px;
    border: none;
    background: #5cec80;
    margin-top: 8px;
    /* transform: translateX(120px); */
    transition: transform 1s;
}

.tabpane {
    margin: 30px 0;
}

.tabpane span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.content {
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    height: 300px;
    overflow: hidden;
}

#tabpane_indicator {
    width: 120px;
    height: 3px;
    border: none;
    background: #5cec80;
    margin-top: 3px;
    transform: translateX();
    transition: transform 1s;
}

.desc{
    padding: 30px;
    line-height: 2.5;
    position: absolute;
    top: 0;
    max-width: 1030px;
    left: 0;
    transition: transform 1s;
}


.review{
    position: absolute;
    top: 0;
    left: 1030px;
    margin: 60px 30px;
    transition: transform 1s;
}

#list-catalog{
    display: flex;
    margin-left: 60px;
}
#list-catalog li{
    margin-right: 20px;
}
/* ------media for menu ------- */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333333;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #ffffff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .col-2 h1 {
        font-size: 35px;
        line-height: 50px;
        margin: 10px 0;
    }
    .col-3 {
        flex-basis: 40%;
    }
    .col-4 {
        flex-basis: 50%;
    }
    .col-5 {
        width: 100px;
    }
    .brands {
        margin: 60px 0;
    }
    .app-logo img {
        width: 100px;
    }
    .footer-col-2 {
        text-align: right;
    }
    .footer-col-3,
    .footer-col-4 {
        margin-top: 30px;
    }
}


/* media query for less than 600 screen size  */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .footer-col-2 {
        text-align: center;
    }
    .footer-col-2 {
        margin-top: 30px;
    }
    .single-product .row {
        text-align-last: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p {
        display: none;
    }
}

.tangcart{
    background-color: #42d17e;
    padding: 5px 20px;
    margin: 2px 10px;
    color: #fff
}
.dangnhap{
    margin: 70px 0 0 50px;
}
.messcart{
    margin: 100px ;
}
.main .container .row .col-2 img{
    
}